<ul>


    <div class="container">
        <div class="container_item"></div><p class="package-code">{{product.package_code}}</p></div>
        <div class="container_item"><li>{{product.description}}</li></div>            <div class="container_item"><li>{{product.clothing_type}}</li></div>
        <div class="container_item"><li>{{product.clothing_color}}</li></div>
        <div class="container_item"><li>{{product.description}}</li></div>        <div class="container_item"><a href="">Add to the cart</a></div>
    </div>
<style>
    .container {
        margin: 10px;
        display: flex;
    }
    .container_item {
        padding: 5px;
        margin: 5px;
        border: 1px solid black;
    }
</style>
</ul>

